<html>
<!DOCTYPE html>
<<title>ElBurroYLaDoncella</title>

<head>
<meta name="author" content="Jose CB" /> 
<meta charset="utf-8"/> 
<style>

h1{background-color:#FFFF00;
color:#008000;
font-size-:24px;
font-weight:bolder;

</style>

</head>
<body style="background-color:""#2F4F4F">

<center><h1>⸸⸸⸸⸸⸸⸸⸸⸸EL BURRO Y LA DONCELLA⸸⸸⸸⸸⸸⸸⸸⸸</h1></center>
<center><h2>RESTAURANT</h2></center>

<center><img src="titor.jpg" width=820 height=320></center>


<p>

<center><h2>【【【【【【 QUIENES SOMOS 】】】】】】】</h2></center>
Restaurant El Burro y la Doncella te invita a disfrutar de una exquisita cena con ingredientes tradicionales 
típicos chilenos. Además, encontrarás platos de todos los gustos, ya que, junto con nuestras 
variadas carnes, tenemos pescados y distintos tipos de pastas. Te invitamos a sentir los más exquisitos sabores,
entregados por los vinos más finos de Chile, o, simplemente, a que vengas a compartir un trago acompañado de 
una excelente música ambiental.
</p>

<hr>
<center>
<table border <table heigth=200>
<tr>
<td><h2><a href="pagetwo.html">platillos</a></td> <td><h2><a href="pagethree.html">contacto</a> </a><h2></td><TD><h2><a href="http://localhost:8080/">reserva mesa</a> </a><h2></TD>
</tr>
</table>
</center>

<center><h2>【【【【【【 GALERIA 】】】】】】】</h2></center>

<center>
<table border <table heigth=200>
<tr>
<td><img th:src="@{img/1.jpg}" width=400 height=200></td> <td><img th:src="@{img/2.jpg}" width=400 height=200></td> <td><img th:src="@{img/3.jpg}" width=400 height=200></td>
</tr>
<tr>
<td><img th:src="@{img/4.jpg}" width=400 height=200></td> <td><img th:src="@{img/5.jpg}" width=400 height=200></td> <td><img src="@{img/6.jpg}" width=400 height=200></td>
</tr>
</table>
</center>







</body>

</html>