<html>
<title>ElBurroYLaDoncella</title>

<head>
<style>

h1{background-color:#666;
color:#f90;
font-size-:24px;
font-weight:bolder;

</style>
</head>
<body>

<center><h1>PLATILLOS QUE NO DEJARAS DE DISFRUTAR</h1></center>
<center><h2>el burro y la doncella</h2></center>

<p>
los mejores platillos para venir a provar en el burro y la doncella, muchas variedades y de todo 
tipo de paladar, ven y prueba uno de nuestros esquisitos platillos y lo mejor de todo que a 
precio economico y grandes promociones que puedes tener en este lindo restaurante, ven y compruebalo
</p>

<center>
<table border <table heigth=300>
<tr>
<td><img th:src="@{img/uno.png}" width=400 height=200></td> <td><img th:src="@{img/dos.png}" width=400 height=200></td> <td><img th:src="@{img/tress.png}" width=400 height=200></td>
</tr>
<tr>
<td><img th:src="@{img/cuatro.png}" width=400 height=200></td> <td><img th:src="@{img/cinco.png}" width=400 height=200></td> <td><img th:src="@{img/seis.png}" width=400 height=200></td>
</tr>
</table>
</center>

<a href="pageone.html"> VOLVER AL INICO </a>


</body>

</html>